img{
    width: 50%;
    height: 50%;
}

.login{
    display: inline-block;
    padding:5px;
    text-align: center;
    vertical-align: top;
}

.register{
    display: inline-block;
    text-align: center;
    padding:5px;
}

.publicdata{
    padding:5px;
    text-align: center;
}

#login{
    padding: auto;
    margin: auto;
}

#mainTxt{
    padding: 15px;
}

Link{
    text-decoration: none;
}

.serverHeader{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #260716;
    color: #29e085;
}